{{ define "about" }}
{{ template "header" . }}

<h2>About</h2>

<p>I am a Ph.D. student at <a href="http://www.tufts.edu/">Tufts University</a> 
   in the <a href="http://www.cs.tufts.edu/">Department of Computer 
   Science</a>. My research focus is computational biology.</p>

<p>My passion is programming. I intend for this blog to document whatever I am
   currently working on, with a focus on my hobbyist projects.</p>

<p>There is a little more information about me at
   <a href="http://burntsushi.net">my homepage</a>.</p>

{{ template "footer" . }}
{{ end }}
