{{ define "post" }}
{{ template "header" . }}
{{ template "postbit" . }}
{{ template "postbit-comments" . }}
{{ template "footer" . }}
{{ end }}

{{ define "postbit-index" }}
{{ template "postbit" . }}
{{ $numComments := .CommentsGet | len }}
<a href="/{{ .Ident }}#comments">{{ $numComments }}
  {{ "Comment" | pluralize $numComments }}</a>
- <a href="/{{ .Ident}}#post-comment">Post comment</a>
{{ end }}

{{ define "postbit" }}
<h2><a href="/{{ .Ident }}">{{ .Title }}</a></h2>
<h4>Posted on {{ .Created | formatTime }}</h4>
{{ .Markdown }}
{{ end }}

{{ define "postbit-comments" }}
{{ $comments := .CommentsGet }}

<h2 id="post-comment">Add a Comment</h2>
<p>Until I have time to figure out how to stop spammers, I've disabled
   comments. If you need to contact me (or have suggestions on how to fight
   spammers), please use
   <img src="http://burntsushi.net/images/gmail.png" alt="My email address" />.
   </p>
<!-- <p>Some name is required, but your email address is
   <strong>not required.</strong> If you provide an email address, we will
   use it <strong>only</strong> to notify you of new comments on
   <strong>this</strong> post.</p> -->

<!--

{{ if .FormError }}
  <p class="error">{{ .FormError }}</p>
{{ end }}
<form id="postComment" method="post" action="/{{ .Ident }}#post-comment">
  <div>
    <label for="author">Name: </label>
    <input type="text" name="author" id="author"
           value="{{ .FormAuthor }}" tabindex="1">
  </div>
  // <div>
  //   <label for="email">Email: </label>
  //   <input type="text" name="email" value="{{ .FormEmail }}" tabindex="2">
  // </div>
  <input type="hidden" name="email" value="">

  <p><a href="https://github.com/russross/blackfriday">Markdown</a>
     is allowed in your comment.</p>
  <textarea name="comment" tabindex="3">{{ .FormComment }}</textarea>

  <p><label for="captchaInput">
       <img src="/captcha/{{ .FormCaptchaId }}.png" id="captcha"
            alt="Captcha image">
  </label></p>
  <p><a href="javascript:reloadCaptcha();">
      I can't read the CAPTCHA image.</a></p>
  <p>Please verify your humanity:</p>
  <input type="text" name="captcha" id="captchaInput" value="" tabindex="4">

  <input type="hidden" name="captchaid" value="{{ .FormCaptchaId }}">
  <input type="submit" tabindex="5">
</form>

-->

{{ if $comments }}
  <h2 id="comments">Comments</h2>
  {{ range $comments }}
    <h3>{{ .Name }}</h3>
    <h4>Posted on {{ .Created | formatTime }}</h4>
    {{ .Markdown }}
  {{ end }}
{{ else }}
  <h2 id="comments">No comments</h2>
{{ end }}
{{ end }}
