html {
  height: 100%;
}

body {
  /* background: #cbccd3; */
  background: #444444;
  height: 100%;
}

a, a:visited {
  color: #4578AB;
  font-weight: bold;
}

a:hover {
  color: #AB8043;
}

div#container {
  width: 900px;
  min-height: 100%;
  margin: 0 auto;
  background: #fff;
}

div#container2 {
  padding: 10px 30px;
}

div#content {
  padding: 0 0 20px 0;
}

hr {
  clear: both;
  background-color: #7AA0C5;
  height: 3px;
  margin: 0;
}

header {
  display: block;
  clear: both;
}

  header ul {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0;
  }

    header ul li {
      float: left;
      margin: 0 40px 5px 0;
    }

footer {
  display: block;
  clear: both;
  padding: 10px 0 0 0;
  font-size: 80%;
}

footer p {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 200%;
}

h2 {
  margin: 0;
  padding: 20px 0 0 0;
  line-height: 1em;
  font-size: 150%;
  /* border: 1px solid #000; */
}

h3 {
  font-size: 130%;
  margin-bottom: 0;
}

h4 {
  font-size: 80%;
  margin: 0 0 15px 0;
  font-style: italic;
  font-weight: normal;
}

.citation {
  margin-top: 10px;
}

p {
  margin-top: 0;
  line-height: 1.6em;
  text-align: justify;
  font-size: 110%;
}

.code, code {
  font-family: monospace;
  font-size: 120%;
  background: #444;
  color: #fff;
  border: 1px solid #000;
  padding: 2px;
}

pre code {
  padding: 0.5em;
}

ul li ul {
  margin: 0 0 8px 0;
}

dl {
  margin-bottom: 0;
}

  dl dd {
    margin-bottom: 10px;
  }

