<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ if isset .Site.Params "description" }}
  <meta name="description" content="{{ .Site.Params.description }}">
  {{ end }}
  <meta name="author" content="">
  <meta name="keywords" content="">
  <link rel="canonical" href="{{ .Permalink }}">

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="/css/basscss.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/pygments.css">

  <!-- Highlight -->
  <link rel="stylesheet" type="text/css" href="/css/highlight/styles/railscasts.css">
</head>
<body class="">
