<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ if isset .Site.Params "description" }}
  <meta name="description" content="{{ .Site.Params.description }}">
  {{ end }}
  <meta name="author" content="">
  <meta name="keywords" content="">
  <link rel="canonical" href="{{ .Permalink }}">

  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/basscss.css">
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/main.css">
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/chroma-fruity-light.css">
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/override.css">
</head>
<body class="">
